{% extends 'base.html' %}

{% block header %}
<h1 style="text-align: center">{% block title %} {{ page_title }} {% endblock %}</h1>
{% endblock %}
{% block content %}

<div class="container">
  <canvas id="myChart"></canvas>
</div>

<script>
const labels = [
  {% for pair in game_data %}
  '{{pair[0]}}: {{pair[1]}}',
  {% endfor %}
  ]
const data = {
  labels: labels,
  datasets: [{
    label: "Game Copies Sold (millions)",
    backgroundColor: [
      {% for color in colors %}
      'rgb({{color[0]}}, {{color[1]}}, {{color[2]}})',
      {% endfor %}
    ],
    borderColor: 'rgb(255, 99, 132)',
    data: [
      {% for pair in game_data %}
      {{pair[2]}},
      {% endfor %}
    ],
  }]
};
const config = {
  type: 'bar',
  data,
  options: {

          scales: {
              xAxes: [{gridLines: { color: "#45A29E" }}],
              yAxes: [{gridLines: { color: "#45A29E" }}]
              }}
};
  // === include 'setup' then 'config' above ===
  Chart.defaults.global.defaultFontColor = 'rgb(102, 252, 241)'
  var myChart = new Chart(
    document.getElementById('myChart'),
    config
  );
</script>
{% endblock %}
