{% extends 'base.html' %}

{% block header %}
<h1 style="text-align: center">{% block title %} {{ page_title }} {% endblock %}</h1>
{% endblock %}
{% block content %}

<div>
    <form method="post">
        <Label class="text-muted">(Exact Match</Label>
        <input type="checkbox" name='exact_match'>
        <label class="text-muted">)</label>
        <label for="title">Enter a Title</label>
        <input name="title" id="title" value="{{ request.form['title'] }}" required>

        <input type="submit" value="Submit">
    </form>
</div>
{% if post_data == false %}
    <div>Please enter a search term to get started.</div>
    <div>The 10 most relevant results will be shown.</div>
{% elif game_list|length == 1%}
    <div class="h4">
        <span class="h5 text-muted">Title:</span> {{game_data[game_list[0]][0]['name']}}
        <span class="h5 text-muted">Publisher:</span> {{game_data[game_list[0]][0]['publisher']}}
        <span class="h5 text-muted">Year:</span> {{game_data[game_list[0]][0]['year']}}
        <span class="h5 text-muted">Genre:</span> {{game_data[game_list[0]][0]['genre']}}<br/>
        <span class="h5 text-muted">Rank(Best Selling Version if Multiplatform):</span> {{game_data[game_list[0]][0]['rank']}}<br/>
    </div>
    <div>
        <span class="h5 text-muted">Total Sales:</span> {{game_data[game_list[0]][0]['globalSales']}} million
        <span class="h5 text-muted">By Console: </span>
        {% for data in game_data[game_list[0]][1] %}
            <span>{{data[0]}}: {{data[1]}}</span>
        {% endfor %}
    </div>
    <br/>
    <div>Sales by platform:</div>
    <div class="container">
        <canvas id="myChart"></canvas>
    </div>
    <script>
        const labels = [
        {% for pair in game_data[game_list[0]][1] %}
        '{{pair[0]}}',
        {% endfor %}
        ]
      const data = {
        labels: labels,
        datasets: [{
          label: 'Game Copies Sold (millions)',
          backgroundColor: [
          {% for i in range(0, colors|length) %}
            'rgb({{colors[i][0]}}, {{colors[i][1]}}, {{colors[i][2]}})',
          {% endfor %}
          ],
          borderColor: 'rgb(255, 99, 132)',
          data: [
            {% for pair in game_data[game_list[0]][1] %}
            {{pair[1]}},
            {% endfor %}
          ],
        }]
      };
      const config = {
        type: 'bar',
        data,
        options: {}
      };

      // === include 'setup' then 'config' above ===

      var myChart = new Chart(
        document.getElementById('myChart'),
        config
      );
    </script>
{% elif game_list|length > 1%}
  <div>More than 1 match found (Up to 10 displayed). Please narrow down the search</div>
  {% for entry in game_list %}
    <div class="h4">
        <span class="h5 text-muted">Title:</span> {{game_data[entry][0]['name']}}
        <span class="h5 text-muted">Publisher:</span> {{game_data[entry][0]['publisher']}}
        <span class="h5 text-muted">Year:</span> {{game_data[entry][0]['year']}}
        <span class="h5 text-muted">Genre:</span> {{game_data[entry][0]['genre']}}<br/>
        <span class="h5 text-muted">Rank(Best Selling Version if Multiplatform):</span> {{game_data[entry][0]['rank']}}
    </div>
    <div>
        <span class="h5 text-muted">Total Sales:</span> {{game_data[entry][0]['globalSales']}} million
        <span class="h5 text-muted">By Console: </span>
        {% for data in game_data[entry][1] %}
            <span>{{data[0]}}: {{data[1]}}</span>
        {% endfor %}
    </div>
    <br/>
  {% endfor %}
{% else %}
  <div>No matches found. Please try again</div>
{% endif %}
{% endblock %}
