{% extends 'base.html' %}

{% block header %}
<h1 style="text-align: center">{% block title %} {{ page_title }} {% endblock %}</h1>
{% endblock %}

{% block content %}
<p>Please enter a Genre and a Year to display sales per console.</p>

  <form method="post">
    <label for="genre">Enter a Genre</label>
    <input name="genre" id="genre" value="{{ request.form['genre'] }}" required>
      <label for="year">Enter a Year</label>
    <input type="number" min="0" step="1" name="year" id="year" value="{{ request.form['year'] }}" required>
    <input type="submit" value="Submit">
  </form>
{% if post_data == false %}
    <div>Please enter a search term to get started.</div>
{% elif num_sold == 0 %}
  <p>There is no data for {{page_genre}} in {{page_year}}</p>
  <p>Please make sure that the genre is spelled correctly</p>
{% else %}
  <p><b>In {{ page_year }}, {{num_sold}} million copies of {{page_genre}} games were sold</b></p>

  <div class="container">
    <canvas id="myChart"></canvas>
  </div>

  <script>
  const labels = [
    {% for key in platform_data %}
    '{{key}}',
    {% endfor %}
    ]
  const data = {
    labels: labels,
    datasets: [{
      label: 'Game Copies Sold (millions)',
       backgroundColor: [
          {% for i in range(0, colors|length) %}
            'rgb({{colors[i][0]}}, {{colors[i][1]}}, {{colors[i][2]}})',
          {% endfor %}
          ],
      borderColor: 'rgb(255, 99, 132)',
      data: [
        {% for key in platform_data %}
        {{platform_data[key]}},
        {% endfor %}
      ],
    }]
  };
  const config = {
    type: 'bar',
    data,
    options: {}
  };
    // === include 'setup' then 'config' above ===

    var myChart = new Chart(
      document.getElementById('myChart'),
      config
    );
  </script>
{% endif %}
{% endblock %}