{% extends 'base.html' %}

{% block header %}
<h1 style="text-align: center">{% block title %} {{ page_title }} {% endblock %}</h1>
{% endblock %}

{% block content %}
<p>Please enter a Genre and a Year to display sales per console.</p>

  <form method="post">
    <label for="genre">Enter a Genre</label>
    <input name="genre" id="genre" value="{{ request.form['genre'] }}" required>
      <label for="year">Enter a Year</label>
    <input type="number" min="0" step="1" name="year" id="year" value="{{ request.form['year'] }}" required>
    <input type="submit" value="Submit">
  </form>
{% endblock %}