{% extends 'base.html' %}

{% block header %}
<h1 style="text-align: center">{% block title %} {{ page_title }} {% endblock %}</h1>
{% endblock %}
{% block content %}

<div>
  <p>
    <strong>{{ message }}</strong>
  </p>

</div>
<div class="container">
  <canvas id="myChart"></canvas>
</div>

<script>
const labels =
  ["1", "2", "3"]
const data = {
  labels: labels,
  datasets: [{
    label: 'Platform Copies Sold',
    backgroundColor: 'rgb(255, 99, 132)',
    borderColor: 'rgb(255, 99, 132)',
    data: [1, 2, 3,],
  }]
};
const config = {
  type: 'bar',
  data,
  options: {}
};
  // === include 'setup' then 'config' above ===

  var myChart = new Chart(
    document.getElementById('myChart'),
    config
  );
</script>
{% endblock %}